doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel="stylesheet" href="css/larFancyZoom/larFancyZoom.css")

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark.main
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Lar-ui
          li.breadcrumb-item.active 图片放大组件
        div.result
          h3
            a.headerLink |图片放大组件
          p
            code larFancyZoom
            |动态分页组件用于分页查询的结果展示，可以动态调整每页展示结果条数。
          h3
            a.headerLink |使用方法
          p
            div.code-html html如下所示，需要使用图片放大组件的图片要写在id为pictureContainer的div中，且图片外层的a标签的href指向一个div，该div中的内容作为当前图片放大后的展示内容
              - var divContainerH = '<div id="pictureContainer">';
              - var divContainerL = '</div>';
              - var divPhotoH = '<div>';
              - var divDisNone = '<div display="none" id="id1">';
              - var divPhotoL = '</div>';
              - var aH = '<a href="#id1">';
              - var aL = '</a>';
              - var imgDom = '<img src="larGalleryWall/1.jpg">';
              code.block #{divContainerH}
              code.block &nbsp;&nbsp;#{divPhotoH}
              code.block &nbsp;&nbsp;&nbsp;&nbsp;#{aH}
              code.block &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{imgDom}
              code.block &nbsp;&nbsp;&nbsp;&nbsp;#{aL}
              code.block &nbsp;&nbsp;#{divPhotoL}
              code.block &nbsp;&nbsp;#{divDisNone}
              code.block &nbsp;&nbsp;&nbsp;&nbsp;#{imgDom}
              code.block &nbsp;&nbsp;#{divPhotoL}
              code.block #{divContainerL}
            p
            div.code-js js如下所示
              code.block $('a').larFancyZoom({
              code.block &nbsp;&nbsp;scaleImg: true,
              code.block &nbsp;&nbsp;closeOnClick: true,
              code.block &nbsp;&nbsp;width: 500,
              code.block &nbsp;&nbsp;height: 500,
              code.block });
          h3
            a.headerLink |展示效果
          div.fancyZoom#pictureContainer
            div.photo
              a.zoom-item(href="#img001")
                img(src='larGalleryWall/1.jpg')
            div#img001(style="display:none")
              img(src='larGalleryWall/1.jpg')
            div.photo
              a.zoom-item(href="#img002")
                img(src='larGalleryWall/2.jpg')
            div#img002(style="display:none")
              img(src='larGalleryWall/2.jpg')
          br
          p
          h3
            a.headerLink |属性说明
          - var properties = [{title:'scaleImg',type:'boolean',default:'undefined',description:'目前测试该属性不影响效果'},{title:'closeOnClick',type:'boolean',default:'undefined',description:'该属性不影响结果'},{title:'width',type:'int',default:'undefined',description:'指定放大图片后的宽度，默认是按照容器宽度来计算'},{title:'height',type:'int',default:'undefined',description:'指定放大图片后的高度，默认是按照容器高度来计算'}];
          each property in properties
            div.description
              li.description-title #{property.title}
              div.description-type
                span 类型：
                span.value #{property.type}
              div.description-default
                span 默认值：
                span.value #{property.default}
              div.description-detail
                span 描述：
                span.value #{property.description}

      include includes/footer.pug

      include includes/scroll-to-top.pug

      include includes/js/core.pug

      include includes/js/custom.pug

      script(src='../artnchina/lib/jquery-1.11.2.min.js')
      script(src='larFancyZoom/larFancyZoom.js')
      script.
        $('.zoom-item').larFancyZoom({
          scaleImg: true,
          closeOnClick: true,
          width: 500,
          height: 500
        });
      // Toggle between fixed and static navbar
      script.
        $('#toggleNavPosition').click(function() {
        $('body').toggleClass('fixed-nav');
        $('nav').toggleClass('fixed-top static-top');
        });

      // Toggle between dark and light navbar
      script.
        $('#toggleNavColor').click(function() {
        $('nav').toggleClass('navbar-dark navbar-light');
        $('nav').toggleClass('bg-dark bg-light');
        $('body').toggleClass('bg-dark bg-light');
        });
