doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel="stylesheet" href="css/larTimeAxis/larTimeAxis.css")

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug
    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid

        h1.larTit 时间轴组件
        p.larBody 多用于按时间顺序展示一系列事件。

        h2.larSubtit 使用方法
        hr
        code
          p 引入js文件:
          div.codeArea
            - var divContainerH = '<script src="larTimeAxis/larTimeAxis.js"></script>';
              code.block #{divContainerH}
          p &nbsp;
          p 引入css文件:
          div.codeArea
            - var divContainerH = '<link rel="stylesheet" href="css/larTimeAxis/larTimeAxis.css">';
              code.block #{divContainerH}
          p &nbsp;
          p 调用方法:
          div.codeArea
            - var divContainerH = '<div class="reviewMain"></div>';
              code.block #{divContainerH}
            p
            - var divContainerH = '$(\'.reviewMain\').larTimeAxis({\n'+'yeardictCode: \'ZTjchg\',\n'+'yearsId: \'year2017\',\n'+'yearRightType: 1\n'+'})';
              code.block #{divContainerH}

        h2.larSubtit 展示效果
        hr
        div.demoBox
          div.reviewMain

        h2.larSubtit 属性介绍
        hr
        table.larAttr
          thead
            tr
              th 属性
              th 类型
              th 可选值
              th 默认值
              th 说明
          tbody
            -
              var properties = [{ title:'scrollId',type:'string',default:'url',description:'跳转至的路径'},
              {title:'easingType',type:'string',default:'空',description:'检索词默认为空'}];
            each property in properties
              tr
                td #{property.title}
                td #{property.type}
                td &nbsp
                //td #{property.optional}
                td #{property.default}
                td &nbsp
                //td #{property.description}

        // Blank div to give the page height to preview the fixed vs. static navbar
        div(style='height: 1000px')
      // /.container-fluid
      // /.content-wrapper

      include includes/footer.pug
      include includes/scroll-to-top.pug
      include includes/js/core.pug
      include includes/js/custom.pug

      script(src='larTimeAxis/larTimeAxis.js')
      script.
          $('.reviewMain').larTimeAxis({
              yeardictCode: 'ZTjchg',
              yearsId: 'year2017',
              yearRightType: 1
          })
      // Toggle between fixed and static navbar
      script.
        $('#toggleNavPosition').click(function() {
        $('body').toggleClass('fixed-nav');
        $('nav').toggleClass('fixed-top static-top');
        });

      // Toggle between dark and light navbar
      script.
        $('#toggleNavColor').click(function() {
        $('nav').toggleClass('navbar-dark navbar-light');
        $('nav').toggleClass('bg-dark bg-light');
        $('body').toggleClass('bg-dark bg-light');
        });