//- 浏览器头文件属性设置
mixin commonMeta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="description", content="util,互联网类larui组件库")
	meta(name="Keywords", content="util,互联网类larui组件库")
	meta(name="viewport" ,content="maximum-scale=1.0 , minimum-scale=1.0 , user-scalable=0 , width=device-width , initial-scale=1.0" )
//- 公共头部链接  baseurl 到pages
mixin commonLink(baseUrl)
	link(rel="icon", href=baseUrl + "images/favicon.ico", type="image/x-icon")
	link(rel="stylesheet", href=baseUrl + "demo/pages/common/common.css")
	link(rel="stylesheet", href=baseUrl + "src/component/sass/css/larui.css")
//-所有插件和公共js
mixin commonScript(baseUrl)
	//--这是多组件单独引入方式，需要引入jquery即可
	//script(src= baseUrl+"dist/V0.1/openAndClose.min.js")
	//script(src= baseUrl+"dist/gallery.min.js")
	//--直接引入所有研发（费第三方）的组件的方式
	script(src= baseUrl+"src/lib/jquery-1.11.2.js")
	script(src= baseUrl+"dist/V0.1/componentAll.min.js")
	script(src=baseUrl + "src/component/util/util.js")
	script(src=baseUrl + "demo/pages/common/common.js")
//mixin anthenScript(baseUrl)
mixin leftMenu(baseUrl)
	- var componentMenus = [{menuName:"lar-gallery组件",link:baseUrl+"demo/pages/lar-gallery/gallery.html"},{menuName:"lar-backtop组件",link:baseUrl+"demo/pages/lar-backTop/backTop.html"},{menuName:"lar-thumbGallery组件",link:baseUrl+"demo/pages/lar-thumbGallery/thumbGallery.html"}]
	- var styleMenus = [{menuName:"按钮",link:baseUrl+"demo/pages/lar-gallery/gallery.html"},{menuName:"侧边栏",link:baseUrl+"demo/pages/lar-backTop/backTop.html"},{menuName:"检索",link:baseUrl+"demo/pages/lar-thumbGallery/thumbGallery.html"}]
	- var toolFunMenus = [{menuName:"地址参数",link:baseUrl+"demo/pages/lar-gallery/gallery.html"},{menuName:"空数据处理",link:baseUrl+"demo/pages/lar-backTop/backTop.html"},{menuName:"图片自适应",link:baseUrl+"src/demo/pages/unit/lar-thumbGallery/thumbGallery.html"}]

	div.componentMenus
		ul
			li.title
				span 组件列表
			each item in componentMenus
				li
					- var menuName=item.menuName
					a(href=item.link) #{menuName}
	div.styleMenus
		ul
			li.title
				span 样式
			each item in styleMenus
				li
					- var menuName=item.menuName
					a(href=item.link) #{menuName}
	div.toolFunMenus
		ul
			li.title
				span 工具方法
			each item in toolFunMenus
				li
					- var menuName=item.menuName
					a(href=item.link) #{menuName}

mixin header
	section.search-header
		div.icon
			span.title larUI
			span.desc 精致的组件、样式、工具方法等互联网零件共享仓库

mixin footer
	section.search-footer
		div.copyright
			a(href="http://www.artnchina.com/page/witart/witart.html" target="_blank")
				span 技术支持：中国软件与技术服务股份有限公司
			p Copyright@2011 CFLAC Corporation ALL RIGHTS RESERVED 中国软件与技术服务股份有限公司
			p.baidu_statistics
				a(href="http://tongji.baidu.com/hm-web/welcome/ico?s=52744559f831bd9a8417325f30470803" target="blank")
					img(src="../images/baidu_statistics.gif")
			//script(type='text/javascript')
			//	var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?52744559f831bd9a8417325f30470803";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();

//页面基本元素
doctype html
html
	head
		block head
	body
		+header
		section.bodyContent
			block bodyContent


		+footer
		//block header
		//block footer